/*----------------------------------------------
*
* [Theme Blue Stylesheet]
*
* Theme    : Leverage - Have a real factory of creative templates in your hands.
* Version  : 1.1.0
* Author   : Codings
* Support  : adm.codings@gmail.com
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root
2. RoFeatureot

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
    --primary-color: #0075f2;
    --secondary-color: #26ffe6;
    --translucent-bg-color: rgba(0, 117, 242, 0.15);
}

/* #endregion Root */

/*----------------------------------------------
2. Feature
----------------------------------------------*/

/* #region Feature */

.card:not(.no-hover):hover {
    background-image: none;
    background-color: #0075f2;
}

/* #endregion Feature */