/*----------------------------------------------
*
* [Theme Light Green Stylesheet]
*
* Theme    : Leverage - Have a real factory of creative templates in your hands.
* Version  : 1.1.0
* Author   : Codings
* Support  : adm.codings@gmail.com
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root
2. Button
3. Featiure

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
    --primary-color: #65FF00;
    --secondary-color: #ceff1a;
    --translucent-bg-color: rgba(102, 255, 0, 0.15);
}

/* #endregion Root */

/*----------------------------------------------
2. Button
----------------------------------------------*/

/* #region Button */

.dark-button:hover, .dark-button:focus, .dark-button:hover:after, .dark-button:focus:after {
    content: none;
    background-image: none;
}

.dark-button:hover:before, .dark-button:focus:before {
    content: none;
}

/* #endregion Button */

/*----------------------------------------------
3. Feature
----------------------------------------------*/

/* #region Feature */

.card:not(.no-hover):hover {
    background-image: none;
    background-color: #65FF00;
}

/* #endregion Feature */